* {
    box-sizing: border-box;
}

html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 690px;
    min-width: 760px;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

.main-wrapper {
    height: 680px;
    width: 750px;
    background: #EEEFF8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-col {
    width: 150px;
    height: 100%;
    display: inline-block;
}

.user-img-container {
    margin-top: 55px;
    text-align: right;
}

    .user-img-container img {
        width: 86%;
        padding-right: 18px;
    }

.right-col {
    width: calc(100% - 150px);
    height: 100%;
    display: inline-block;
    float: right;
    position: relative;
}

.content-wrapper {
    background: #FFF;
    width: 544px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.row {
    width: 100%;
}

    .row h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 23px;
        font-weight: 800;
        padding: 15px 15px 15px 30px;
        color: #333;
        display: inline-block;
    }
    
    h3 .green {
        color: #51C190;
        font-weight: 400;
    }
    
.time-container {
    float: right;
    display: inline-block;
    text-align: left;
}

    .time-container h3 {
        font-family: 'Open Sans', sans-serif;
        color: #bbb;
        font-weight: 400;
        padding: 15px 30px 15px 15px;
    }
    
    .row p {
        font-family: 'Palanquin', sans-serif;   
        font-size: 23px;
        font-weight: 600;
        padding:  0px 30px;
        color: #333;
        line-height: 30px;
    }
    
hr {
    border: 0;
    height: 0;
    margin: 25px 30px 5px 30px;
    background: #F0F1F9;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

    .row h2 {
        font-size: 36px;
        font-family: 'Palanquin', sans-serif;  
        padding-left: 30px;
        color: #6A7784;
        font-weight: 600; 
    }
    
#sub-quiz-title {
    color: #B8BDC2;
    letter-spacing: 1px;
    margin: 10px 0 30px 0;
}

.img-container {
    height: 300px;
    width: 100%;
    background: url('assets/ninja_img.jpg') no-repeat center center;
    background-size: cover;
}